{% extends "base.html" %}
{% block title %}Login System{% endblock %}

{% block content %}

{% if message  %}
    <div class="alert alert-secondary" role="alert">
        <p>{{ message }}</p>
    </div>
{% endif %}

<form action="" method="post">
  <div class="form-group">
      <label for="inputhierarchy">Hierarchy Name</label>
      <input name="hierarchy" class="form-control" for="inputhierarchy" placeholder="Hierarchy Name">

      <label for="InputEmail">Email of the utility</label>
      <input name="email" class="form-control" for="InputEmail" placeholder="Hierarchy Name">
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}
